<div class="container pt-5 mt-5" style="background-color:#FFFFFF">
            <!-- Section: Magazine v.2 -->
            <section class="magazine-section my-5 pl-4 pb-5">
                <!-- Section heading -->
                <h2 class="h1-responsive font-weight-bold text-center my-5">Graficos</h2>
                <!-- Section description -->
                <p class="text-center dark-grey-text w-responsive mx-auto mb-5" id="descricao">
                   
                </p>
                <canvas id="doughnutChart" width="1090" height="500">
                        Your browser does not support HTML5 Canvas.
                </canvas>
            </section>
            <!-- Section: Magazine v.2 -->
</div>

 <script type="text/javascript" src="../ajax/grafico.js"></script>